h1 {
  display: none;
}
@media screen and (min-width: 500px) and (max-width: 576px) {
  .Mobile {
    display: block;
  }
  body {
    background-color: brown;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .Tablet {
    display: block;
  }
  body {
    background-color: blue;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .Laptop {
    display: block;
  }
  body {
    background-color: red;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .Desktop {
    display: block;
  }
  body {
    background-color: orange;
  }
}
@media screen and (min-width: 1201px) {
  .Huge {
    display: block;
  }
  body {
    background-color: green;
  }
}
